<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoGamer</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>

</head>
<body>
    {{> header}}


<div>
    <img class="d-block w-100" src="/public/imagen/wallpaperAsusHome.jpg" alt="Wallpaper">
</div>



    {{> footer}}


</body>
</html>