 <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Enlaces Utiles</h3>
                        <ul>
                            <li><a href="/productos">Productos</a></li>
                            <li><a href="/formulario">Contacto</a></li>
                            <li><a href="/repositorio">Repositorio</a></li>
                            <li><a href="/movies">Peliculas</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Ubicación</h3>
                        <ul>
                            <li>Florida 537 Local 315 (CABA)</a></li>
                            <li> Para consultas, debe comunicarse al numero 0800-127-7428</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-md-3 item text">
                        <h3 >MercadoGamer</h3>
                        <p>Somos una empresa dedicada a la comercialización de productos electrónicos incluyendo perifericos y componentes de computadora. Por tal motivo, nuestros objetivos se encuentran ligados a brindar articulos con el mejor precio-calidad del mercado.</p>
                    </div>


                </div>
                <p class="copyright">MercadoGamer © 2023</p>
            </div>
        </footer>
    </div>                                                          